# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
*.venv

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg

# Logs and debugging
logs/
*.log

# IDE and editor settings
.vscode/
.idea/
*.swp
*.swo

# Jupyter notebooks
.ipynb_checkpoints/

# Testing
.tox/
.nox/
.pytest_cache/

# Coverage reports
.coverage
htmlcov/
*.cover

# MyPy
.mypy_cache/
.dmypy.json

# Database files
*.sqlite3
*.db

# Other
.DS_Store
Thumbs.db